.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FF00FF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.App-header p {
  animation: bounce 1s infinite;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NewPage1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.NewPage1 p {
  font-size: 25px;
  font-weight: bold;
  color: #FF00FF;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
