
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FF00FF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body {
  font-family: 'Popin', sans-serif;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.App-header p {
  animation: bounce 1s infinite;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NewPage1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.NewPage1 p {
  font-size: 25px;
  font-weight: bold;
  color: #FF00FF;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-shadow: 2px 2px 4px #FFCCFF;
}

.button {
  background-color: pink;
  color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff69b4;
}

.button2 {
  background-color: pink;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button2:hover {
  background-color: #ff69b4;
}

.greeting-box {
  border: 2px solid red;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 1;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;

}


